* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.header {
    background-color:  rgb(58, 52, 52);
    color:  rgb(253, 253, 253);
}

.container {
    margin-top: 20px;
}

.form-group {
    background-color: rgb(188, 207, 219);
}

.btn {
    margin-top: 5px;
    background-color: rgb(240, 240, 124);
    color: black;
}

